.custom_background-color{
    background-color:#0E294B ;
}
body{
    width:100%;
    padding:0px;
    margin:0px;
    overflow: hidden;
}
header{
    margin-top:0px;
  height:150px;
  background-color: #b5b9bd;
}
nav{
    overflow:hidden;
    background-color: #818385;
}
nav button{
    float:right;
    padding:15px 50px;
    margin:10px 30px;
}
nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
}
nav a:hover{
    background-color: #0E294B;
}
section{
    height: 530px;
    width:100%;
    background-color: #b5b9bd;
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    padding:40px;
    display:flex;
    flex-wrap:wrap;
}

.fourdivs{
    height:200px;
    width:800px;
    background-color: #5c6b7a;
    margin-left:75px;
    margin-top:35px;
    flex-direction: row;
    
}

footer{
    background-color: grey;
    height:125px;
}