.custom_background-color{
    background-color:#0E294B ;
}
.custom_border-color{
    border-color:#0E294B ;
}
.custom-color{
    color:#0E294B ;
}
.fonttype{
    font-style:;
}
body{
    width:100%;
    padding:0px;
    margin:0px;
    overflow: hidden;
}
header{
    margin-top:0px;
    height:150px;
  /*background-color: #b5b9bd;*/
}
nav{
    overflow:hidden;
    /*background-color: #818385;*/
    background-color: #273f66;
}
nav button{
    float:right;
    padding:10px 50px;
    margin:10px 30px;
    font-size:20px;
    
}
.formbt{
    margin:10px;
}
.modal{
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    margin-left:32.5%;
    margin-top:200px;
    width:35%;
    height:68%;
    background-color:#0E294B;
    opacity:0.95;
}
.modal-content{
    background-color: #fefefe;
    margin:30px;
    padding:20px;
    opacity:0.95;
}
.close{
    color:black;
    float:right;
    font-size:40px;
    font-weight:bold;
}
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
nav a{
    margin-top:5px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
    font-size:20px;
}
nav a:hover{
    background-color: #0E294B;
}
section{
    height: 530px;
    width:100%;
    background-color: #b5b9bd;
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    padding:40px;
    display:flex;
    flex-wrap:wrap;
    background-image: url("nature.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    
}

.fourdivs{
    height:200px;
    width:800px;
    background-color: #5c6b7a;
    margin-left:75px;
    margin-top:35px;
    flex-direction: row;
    opacity:0.90;
    
    
}
.fourborder{
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
}
.mainborder{
    border-width: 3px;
    border-style: solid;
}
.navborderfix{
    border-bottom-width: 0px;
    border-top-width: 0px;
}
.footerborderfix{
    border-top-width: 0px;
}
footer{
   /* background-color: grey;*/
    height:100px;
}
p{
    font-size:22px; 
    color:white;
    margin:15px;
}
h2{
    color:white;
    margin:15px;
}